body{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    background-color: #9999a1;
}

main{
    width: 75vw;
    margin: 0 auto;
    background-color: #e6e6e9
}

iframe{
    width: 35vw;
    height: 35vh;
    margin: 1.1vw;
}

header{
    width: 75vw;
    margin: 0 auto;
    text-align: center;
    padding: .5em 0;
    background-color: #e6e6e9;
}

footer{
    width: 75vw;
    margin-left: auto;
    margin-right: auto;
    background-color: #e6e6e9;
}

#profile_picture{
    float: left;
    padding-left: 30px;
    padding-top: 0px;
    width: 300px;
    height: 250px;
}

#bio{
    font-size: 15pt;
    text-align: justify;
    padding-right: 2em;
    padding-top: 2vh;
    padding-left: 350px;
}

/* Measured in width to "properly" adjust to different screen sizes*/
#padding{
    padding-top: 8vw;
}

dt {
    float: left;
    clear: left;
    width: 35vw;
    text-align: right;
    margin-right: 1em;
    font-weight: bold;
    color: #9381ff;
}

dd {
    margin-left: 7rem;
    padding-bottom: 0.5rem;
}

.sectionHeader{
    text-align: center;
}



hr{
    color: #aba7ab;
}