/* 
 ***************** Home Page Content ********************
*/
#bodyContainer{
    display: grid;
    grid-template-areas: 
    "title"
    "content1"
    "content2";
}

.title{
    font-size: 50pt;
    grid-area: title;
    border-bottom: 1px solid #2d2d28;
}

.pictureLeft{
    float: left;
    height: 350px;
    width: 600px;
    padding: 1.5em 2em 1em 0em;
}

.pictureRight{
    float: right;
    height: 350px;
    width: 600px;
    padding: 1.5em 0em 1em 2em;
}

#content1{
    text-align: justify;
    grid-area: content1;
    font-size: 18pt;
    margin: 1em;
}

#content2{
    text-align: justify;
    grid-area: content2;
    font-size: 18pt;
    margin: 1em;
}